<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html>

<body>
 <!--header-->
 
<body class="sub_page">

    <div class="hero_area">
  
      <div class="hero_bg_box">
        <img src="{% static 'images/hero-bg.png' %}" alt="">
      </div>
  
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/">
              <span>
                Orthoc
              </span>
            </a>
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/departments">Departments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/doctors">Doctors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signin">Patient</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
   <!--end of header -->
 
   
  <!-- Content specific to each page will be added here -->
  {% block content %}
   {% endblock %}

  <br><br><br><br><br>
      <!-- footer section -->
      <footer class="footer_section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 footer_col">
              <div class="footer_contact">
                <h4>
                  Reach at..
                </h4>
                <div class="contact_link_box">
                  <a href="">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                      Location
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                      Call +01 1234567890
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                      demo@gmail.com
                    </span>
                  </a>
                </div>
              </div>
              <div class="footer_social">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 footer_col">
              <div class="footer_detail">
                <h4>
                  About
                </h4>
                <p>
                  Beatae provident nobis mollitia magnam voluptatum, unde dicta facilis minima veniam corporis laudantium alias tenetur eveniet illum reprehenderit fugit a delectus officiis blanditiis ea.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 mx-auto footer_col">
              <div class="footer_link_box">
                <h4>
                  Links
                </h4>
                <div class="footer_links">
                  <a class="" href="/">
                    Home
                  </a>
                  
                  <a class="" href="/departments">
                    Departments
                  </a>
                  <a class="active" href="/doctors">
                    Doctors
                  </a>
                  <a class="" href="contact.html">
                    Contact Us
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 footer_col ">
              <h4>
                Newsletter
              </h4>
              <form action="#">
                <input type="email" placeholder="Enter email" />
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>
          
        </div>
      </footer>
      <!-- footer section -->

</body>
</html>
