<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html>

<body>
 <!--header-->
 
<body class="sub_page">

    <div class="hero_area">
  
      <div class="hero_bg_box">
        <img src="{% static 'images/hero-bg.png' %}" alt="">
      </div>
  
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/">
              <span>
                Orthoc
              </span>
            </a>
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/departments">Departments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/doctors">Doctors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signin">Patient</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
   <!--end of header -->
 
   
  <!-- Content specific to each page will be added here -->
  {% block content %}
   {% endblock %}

  <br><br><br><br><br>
      

</body>
</html>
